{% extends "layout.html" %}
{% block body%}
<div class=' text-center p-5 ' style=" background: linear-gradient(to top right, #00ffff -3%, #ffffff 33%)!important; opacity: 0.9 !important;">
        <h1 class=' text-danger' style="font-family: webLogo; font-size: 60px !important;">Welcome</h1>
        <h4 style="color: black;">New <span class='display-3 text-danger'>DEAL</span></h4>
        <h5 class='text-warning mx-auto' style="color: rgb(28, 170, 253) !important;"><span class='text-white'>Special Pizza:</span><br><br> Double Cheese + <br> Double Onions + <br>Double Fresh Garlic</h5>
</div>
{% endblock %}